<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "no.tesy"
        versionCode="10" 
        version   = "1.0.0">

    <name>Oppgaveliste</name>

    <description>
        Viser oppgaver
    </description>

    <author>
        Terje Bradland 
    </author>

<preference name="fullscreen" value="true"/>
 <preference name="show-splash-screen-spinner" value="false" />
<preference name="load-url-timeout" value="60000" />
<gap:splash src="splash.png" />
<icon src="icons/ios/logo.png" gap:platform="ios" />
<icon src="icons/win/logo.png" gap:platform="winphone" />
<icon src="/win/logo.png" gap:platform="winphone" gap:role="background" />
<gap:splash src="icons/win/splash.jpg" gap:platform="winphone" />
</widget>