<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "no.tesy"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Oppgavelist</name>

    <description>
        Viser oppgaver
    </description>

    <author>
        Terje Bradland 
    </author>
<icon src="icons/ios/logo.png" gap:platform="ios" />
<icon src="icons/win/logo.png" gap:platform="winphone" />
<icon src="icons/win/logo.png" gap:platform="winphone" gap:role="background" />
<gap:splash src="icobs/win/splash.jpg" gap:platform="winphone" />
</widget>